<ul class="list-group">
  <li class="list-group-item active">Donkeys disponibles</li>
  <li class="list-group-item" *ngFor="let donkey of inDonkeysAvailable">
    <div class="card">
      <div class="content-card">
        <img
          [src]="donkey.pathImage"
          class="card-img-top"
          alt="image'{{ donkey.name }}"
        />
        <div class="secretInfos">
          <h5>{{ donkey.name }}</h5>
          <p>
            Origine: {{ donkey.origin }} <br />
            Date de naissance: {{ donkey.birthDate | date: "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
      <div class="card-body">
        <button (click)="adopte(donkey)" class="btn btn-primary">
          Adopter
        </button>
      </div>
    </div>
  </li>
</ul>
